@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Play&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (prefers-color-scheme: light){
	:root{
	    --bg-color:#fff;
        --shadows-box:  4px 4px 10px lightblue,
             -4px -4px 10px lightblue;
	}
}

@media (prefers-color-scheme: dark){
        :root{
	    --bg-color:#191919;
          --shadows-box:  4px 4px 10px #606060,
             -4px -4px 10px #606060;
        }
}


body{
    display: flex;
    margin-left:20px;
    margin-top: 15px;
    height: 40vh;
    font-family: 'Montserrat', sans-serif;
    background: var(--bg-color);
   
}


.contenedor{
    display: flex;
    width: 300px;
    height: 170px;
   /*justify-content: center;*/
   color: #0c0c0c;
   vertical-align: 20px;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    /*background: #ef4b4c;*/
    opacity:.9;
    background-image: url(tabibitos2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: var(--shadows-box);
}

.titulo{
    margin-top: 10px;
    font-size: 1.5rem;
    font-family: 'Play', sans-serif;
    color: aliceblue;
}

.contar{
    margin-top: 20px;
    font-size: 2.5rem;
}

.botones{
    margin-top:15px; /*ditancia entre el texto*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button{
    margin: 7px;
    width: 35px;
    height: 20px;
    cursor: pointer;
    font-size: .7rem;
    background: snow;
    opacity: 0.85;
    border:none;
    border-radius: 5px;
}

span{
    color: midnightblue;
    /*#ef4b4c*/
}

.reset{
    width: 35px;
    height: 20px;
}
